header {
    
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  section {
    
    background-color: white;
  }
  
  section h1 {
    font-size: 44px;
  }
  
  .conte {
    text-align: left;
  }
  .conte p #mrgen {
    font-size: 60px;
    font-weight: bold;
    margin: 1em 0;
  }
  
  .conte p {
    font-size: 60px;
    font-weight: bold;
    margin: 1em 0;
  }
  .contenido #imghead{
      margin: 0%;
      padding: 0%;
  }
  
  #imghead{
    background-color: white;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index:1000;
    left: 0%;
    

  }
  
  img#logo{
    bottom: 14%;
    width: 8em;
    

  }
  img#perfil{
    right: 0.5em;
    height: 4em;
    width: 4em;    
    position: absolute;   
    margin: 1em;
  }
  
  img#notif{
    right: 6em;
    height: 3em;
    width: 3em;
    position: absolute;
    margin: 1.5em;
    

  }

  .hola{
    right: 10em;
    height: 1em;
    
    position: absolute;
    margin: 1.5em;
    top: 10%;
    
  }



input#abrir-cerrar {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

#text {
    top: 5%;

}
img#logo {
    
    right: 87.35%;
    
    bottom: 14%;
    
}

label[for="abrir-cerrar"] {
    cursor: pointer;
    padding: 1rem;
    background-color: #FFFF;
    display: inline-block;
    
}

    

.cerrar {
    display: none;
}

#sidebar {
    width: 0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width: 300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left: 350px;
    transition: margin-left .4s;
}


    input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
        display: inline;
    }

    input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
        display: none;
    }

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 100px;
    left: 0;
    z-index: 1;
    background-color: #E5383B;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box;
    line-height: 2.5rem;
}


    .sidebar .boton-cerrar {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        font-size: 2rem;
        display: block;
        padding: 0;
        line-height: 2.5rem;
        margin: 0;
        height: 32px;
        width: 32px;
        text-align: center;
        
    }

    .sidebar ul, .sidebar li {
        margin: 0;
        padding: 0;
        list-style: none inside;
        line-height: 2.5rem;
        top:200px;
    }

    .sidebar ul {
        margin: 0.5rem;
        display: block;
        width: 80%;
        line-height: 2.5rem;
        min-width: 200px;
        top: 178px;
    }


    .sidebar a {
        display: block;
        font-size: 120%;
        color: #eee;
        text-decoration: none;
        line-height: 40px;
    }

.sideb.children {

  margin: 4px;

}

    /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
