body {
    font-family: Open Sans;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    overflow-x: hidden;
    margin-top: 10%;
}




#portal {
    margin-left: 30px;
    margin-right: 30px;
    
    position: absolute;
    
    left: 0px;
    top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}

#menus {
    margin: 30px;
    margin-top: 90px;
        padding: 0;
        list-style: none inside;
        line-height: 2.5rem;
        width: 300px;
        height: 40px;
        left: 20px;
        top: 38px;
}




h1 {
    width: 590px;
    height: 40px;
    left: 162px;
    top: 206px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 2%;
}

h1#titu {
    width: 590px;
    height: 40px;
    left: 162px;
    top: 206px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 2%;
}

h3#subtitle {
    width: 80%;
    left: 162px;
    top: 206px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 2%;
}

h2 {
    width: 590px;
    height: 40px;
    left: 162px;
    top: 206px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 2%;
}

#contenido {
    transition: margin-left .4s;
    transition: margin-left .4s;
    margin: 4%;
    padding: 0rem;
}

.abrir-cerrar {
    position: absolute;
    width: 1920px;
    height: 150px;
    left: 0px;
    top: 0px;
    color: #FFFFFF;
}

.formato {
    height: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.formatorow2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}




.columna1 {
    width:30%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.columna2 {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}


#descarga {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background: #BA181B;
    border: 1px solid #B1A7A6;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    margin-left: 10px;
    background-image: url(plus.png);
    background-repeat: no-repeat;
    background-position: left;
    right: 0%;
    padding: 1rem;
    margin: 2rem;
    
    
}
    #descarga:hover {
        background-color: white; /* Green */
        color: #BA181B
    }

    #archivo{
        width: 30%;
    }

    .verticalLine { 
        border-left: thick solid #B1A7A6;
        width: 1%; }

     .columinfo{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: left;
    }

    .columinfo1{
        width:100%;
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: row;
        
    }

    .estado{
        width:100%;
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: row;
        margin-left: 4%;

    }
    .estado1{
        width:50%;
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        margin-left: 4%;

    }
    .formulariosubir{
        width:50%;
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        margin-left: 4%;

    }
    .columinfo2{
        width:70%;
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        margin-left: 4%;
    }

    h5#infoletra{
        width: 40%;
        
        left: 162px;
        top: 200px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 15%;
        display: flex;
        align-items: center;
        color: #000000;
        margin: 1%;
        margin-left: 2%;
        text-align: center;
        
    }


h5#infoletraw{
    width: 590px;
    height: 40px;
    left: 162px;
    top: 206px;
    font-family: Open Sans;
    font-style: normal;
    font-weight:bold;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 2%;

}
h4#info{
    width: 590px;
    height: 40px;
    left: 162px;
    top: 206px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:bold;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;
    

}

.labelestado{
    background: #e9e8e8;
    border: none;
    font-size: 20px; 
    padding: 10px;
    margin-top: 12px;
    border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 55%;
    height: 20%;
    padding: 1%;
    top: 10%;
    float: left;
    

    }

    .inputestado{
        background: #ffffff;
        right: 5%;
        padding: 20px;
        margin: 1%;
        width: 56%;
        height: 120px;
        border: 3px solid #B1A7A6;
        box-sizing: border-box;
        box-shadow: 0px 4px 24px 3px rgb(0 0 0 / 25%);
        border-radius: 10px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        display: flex;
        align-items: center;
        color: #000000;
        display: table-row;

        margin-right: 2%;
    
        }

    
    .overflow-visible {
        white-space: initial;
      }
    .estilotextarea2 {
    background: transparent;
    right: 5%;
    padding: 20px;
    margin: 10px;
    width: 280%;
    height: 200px;
        border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:normal;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;
    display: table-row;}

    button.enviarRevision {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background: #BA181B;
        border: 1px solid #B1A7A6;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        padding: 10px;
        margin-left: 10px;
        background-image: url(plus.png);
        background-repeat: no-repeat;
        background-position: left;
        right: 5%;
        padding: 1rem;
        margin: 1rem;
        
        
        
    }
    button.enviarRevision:hover {
            background-color: white; /* Green */
            color: #BA181B
        }


        button.cancelar {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            background: #B1A7A6;
            border: 1px solid #B1A7A6;
            box-sizing: border-box;
            border-radius: 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            padding: 10px;
            margin-left: 10px;
            background-image: url(plus.png);
            background-repeat: no-repeat;
            background-position: left;
            right: 15%;
            padding: 1rem;
            margin-left: 83%;
            
            
            
        }
    
        

        button.cancelarEvibaja {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            background: #B1A7A6;
            border: 1px solid #B1A7A6;
            box-sizing: border-box;
            border-radius: 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            padding: 10px;
            margin-left: 10px;
            background-image: url(plus.png);
            background-repeat: no-repeat;
            background-position: left;
            right: 15%;
            padding: 1rem;
            margin-left: 84%;
            
            
            
        }
    #cancelar:hover {
                background-color: white; /* Green */
                color: #B1A7A6
            }

    .inputsubirPG{
    
    background: transparent;
    right: 5%;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 20px;
    border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:normal;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;

    }

    .inputsubirAS{
    
    background: transparent;
    right: 5%;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 20px;
    border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:normal;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;

            }

    .inputsubirPR{
    
    background: transparent;
    right: 5%;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 20px;
    border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:normal;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;

            }

    .inputsubirDC{
    
    background: transparent;
    right: 5%;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 20px;
    border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:normal;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;

            }


    .inputsubirGR{
    
    background: transparent;
    right: 5%;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 20px;
    border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:normal;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;

            }


    .inputsubirSO{
    
    background: transparent;
    right: 5%;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 20px;
    border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:normal;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;

            }

    .inputsubirPI{
    
    background: transparent;
    right: 5%;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 20px;
    border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:normal;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;

            }


    .inputsubirTA{
    
    background: transparent;
    right: 5%;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 20px;
    border: 3px solid #B1A7A6;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Open Sans;
    font-style:normal;
    font-weight:normal;
    font-size: 17px;
    line-height: 9%;
    display: flex;
    align-items: center;
    color: #000000;

            }
            .file-upload {
                background: #ffffff;
                border: none;
                font-size: 18px; 
                padding: 10px;
                margin: 1%;
                border: 3px solid #B1A7A6;
                box-sizing: border-box;
                box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 3%; 
                top: 10%;
                float: left;
                width: 56%;
                margin-left: 43%;
                margin-right: 2%;
              }
              
              .file-upload-btn {
                width: 98%;
                margin: 2%;
                color: #fff;
                background: #BA181B;
                border: none;
                padding: 10px;
                border-radius: 4px;
                border-bottom: 4px solid #F5F3F4;
                transition: all .2s ease;
                outline: none;
                text-transform: uppercase;
                font-weight: 700;
                align-items: center;
              }
              
              .file-upload-btn:hover {
                background: rgba(164, 22, 26, 0.63);
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
              }
              
              .file-upload-btn:active {
                border: 0;
                transition: all .2s ease;
              }
              
              .file-upload-content {
                display: none;
                text-align: center;
              }
              
              .file-upload-input {
                position: absolute;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                outline: none;
                opacity: 0;
                cursor: pointer;
              }
              
              .image-upload-wrap {
                margin-top: 20px;
                border: 4px dashed #BA181B;
                position: relative;
              }
              
              .image-dropping,
              .image-upload-wrap:hover {
                background-color: #eeeeee;
                border: 4px dashed #ffffff;
              }
              
              .image-title-wrap {
                padding: 0 15px 15px 15px;
                color: #222;
              }
              
              .drag-text {
                text-align: center;
                align-items: center;
                margin: 5%;
              }
              
              .drag-text h3 {
                font-weight: 100;
                color: #959595;
                padding: 2%;
              }
              
              .file-upload-image {
                max-height: 200px;
                max-width: 200px;
                margin: auto;
                padding: 20px;
              }
              
              .remove-image {
                width: 200px;
                margin: 0;
                color: #fff;
                background: #cd4535;
                border: none;
                padding: 10px;
                border-radius: 4px;
                border-bottom: 4px solid #b02818;
                transition: all .2s ease;
                outline: none;
                text-transform: uppercase;
                font-weight: 700;
              }
              
              .remove-image:hover {
                background: #c13b2a;
                color: #ffffff;
                transition: all .2s ease;
                cursor: pointer;
              }
              
              .remove-image:active {
                border: 0;
                transition: all .2s ease;
              }

              .infoletraRe{
               
                    width: 590px;
                    height: 40px;
                    left: 162px;
                    top: 206px;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 9%;
                    display: flex;
                    align-items: center;
                    color: #000000;
                    margin: 1%;
                }
              